.camp_table{
    max-height: 280px;
    overflow: auto;
    padding: 20px 0;
    min-height: 100px;

}
td{
    width: max-content;
    padding: 5px 0;
    text-transform: uppercase;
    font-family: arial;
    font-size: 15px;
}
tr:hover{
    cursor: pointer;
}
*::-webkit-scrollbar {
    width: 5px;
  }
*::-webkit-scrollbar-thumb {
    background-color: #f1f2f3b1;
    border-radius: 20px;
    
}
.thead th{
    padding: 10px 0;
    font-size: 20px;
    color: #004cb6b1;
    font-family: Arial, Helvetica, sans-serif;
}
td{
    background-color: transparent;
}